#vscode configration file  
.vscode

#build output
a.out

#object files
*.o

#precompiled headers
*.gch

#Sensitive information
.env

#macos metadata
.Ds_Store

#testcode
exam.txt

#outfile
webserv

#server log
log.txt

#
/public